{% extends 'core/base.html' %}

{% block head_title %}AIBS - ARTIFICIAL INTELLIGENCE BANKING SYSTEM{% endblock %}

{% block content %}
    <div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">
        <!--Left Col-->
        <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-12 pb-24 px-6">
            <h1 class="font-bold text-4xl my-4">AI Banking System</h1>
            <p class="leading-normal mb-4">
                AI banking systems utilize machine learning algorithms to analyze customer data, detect patterns, and personalize services like loan approvals and investment recommendations. These systems enhance fraud detection by swiftly identifying suspicious activities and securing transactions. They offer chatbots and virtual assistants for seamless customer support and interaction, improving user experience. AI banking systems optimize operational efficiency through automation of routine tasks, reducing costs and processing times. They continuously evolve through data-driven insights, adapting to changing customer needs and market trends.<br>
                Developed by: <a href="https://github.com/deep-commitx">Deepak</a><br>
                Source Code: <a href="https://github.com/deep-commitx/AIBS">GitHub</a>
            </p>
            <div>
            <a href="{% url 'accounts:user_registration' %}" class="bg-transparent hover:bg-gray-800 text-gray-800 hover:text-white rounded shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent">Register</a>
            <a href="https://github.com/deep-commitx/AIBS" class="bg-transparent hover:bg-gray-800 text-gray-800 hover:text-white rounded shadow hover:shadow-lg py-2 px-4 border border-gray-900 hover:border-transparent">GitHub</a>
            </div>
        </div>
        <!--Right Col-->
        <div class="w-full lg:w-1/2 lg:py-6 text-center">
            <h1 style="font-size: 12rem" class="font-black text-gray-800">$$$</h1>
        </div>
    </div>
{% endblock %}